:root {
    --background-main-color: rgb(250, 250, 250);
    --blockquote-background-color: rgba(196, 202, 204, 0.33)
}

@font-face {
    font-family: 'archivo';
    src: url('/assets/fonts/Archivo/archivo-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('/assets/fonts/Archivo/archivo-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'archivo';
    src: url('/assets/fonts/Archivo/archivo-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('/assets/fonts/Archivo/archivo-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

/* ubuntu-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/ubuntu/ubuntu-v20-latin-regular.woff2') format('woff2')
}

/* ubuntu-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/ubuntu/ubuntu-v20-latin-italic.woff2') format('woff2');
}

/* ubuntu-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/ubuntu/ubuntu-v20-latin-700.woff2') format('woff2');
}

/* ubuntu-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/ubuntu/ubuntu-v20-latin-700italic.woff2') format('woff2');
}


@font-face {
    font-family: 'jetbrains_mono';
    src: url('/assets/fonts/JetBrains_Mono/jetbrainsmono-variablefont_wght-webfont.woff2') format('woff2'),
    url('/assets/fonts/JetBrains_Mono/jetbrainsmono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jetbrains_mono';
    src: url('/assets/fonts/JetBrains_Mono/jetbrainsmono-italic-variablefont_wght-webfont.woff2') format('woff2'),
    url('/assets/fonts/JetBrains_Mono/jetbrainsmono-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

/*---------------------------------------------------------------------------------

	Theme Name: McLuhan
    Text Domain: mcluhan
	Version: 1.20
	Description: McLuhan is a clean, simple and lightweight WordPress theme, featuring a front page with a complete post archive arranged by year rather than a traditional blog flow. It also sports fully customizable background colors for the sidebar and content, Block Editor/Gutenberg support, a responsive design, social network links with icons, an AJAX-powered mobile search with instant results, a resume page template and a full-width template. Demo: https://www.andersnoren.se/themes/mcluhan/
	Tags: two-columns, left-sidebar, custom-menu, custom-colors, editor-style, featured-images, full-width-template, sticky-post, threaded-comments, theme-options, blog, translation-ready, block-styles, wide-blocks
	Author: Anders Norén
	Author URI: https://www.andersnoren.se
	License: GNU General Public License version 2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Theme URI: https://www.andersnoren.se/teman/mcluhan-wordpress-theme/

	All files, unless otherwise stated, are released under the GNU General Public License
	version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

/* -------------------------------------------------------------------------------- */


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    line-height:1;
    text-align:left;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

ol, ul { list-style:none; }

blockquote:before,
blockquote:after { content:""; }

a { outline:none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Skip Link */

.skip-link {
    position: absolute;
    left: -9999rem;
    top: 2.5rem;
    z-index: 999999999;
}

.skip-link:focus {
    left: 2.5rem;
    text-decoration: none;
}

/* Accessibility Settings */

@media ( prefers-reduced-motion: reduce ) {
    * {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}


/* -------------------------------------------------------------------------------- */
/*	1. Document Setup
/* -------------------------------------------------------------------------------- */


body {
    background: var(--background-main-color);
    border: none;
    color: #121212;
    font-size: 18px;
    padding-left: 380px;
}

body.lock-scroll {
    height: 100%;
    position: fixed;
    width: 100%;
}

body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body a {
    color: #121212;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

.group:after,
.pagination:after,
.gallery:after {
    clear: both;
    content: "";
    display: block;
}

::selection {
    background: #121212;
    color: #FFF;
}

input::-webkit-input-placeholder { color: rgba( 0, 0, 4, 0.4 ); }
input:-ms-input-placeholder { color: rgba( 0, 0, 4, 0.4 ); }
input::-moz-placeholder { color: rgba( 0, 0, 4, 0.4 ); }


/* -------------------------------------------------------------------------------- */
/*	2.	Structure
/* -------------------------------------------------------------------------------- */


.site-content {
    position: relative;
}

.section-inner {
    margin: 0 auto;
    max-width: 560px;
    width: 85%;
}

.section-inner.wide {
    max-width: 800px;
}

.section-inner .section-inner {
    width: 100%;
}

a {
    transition: all .15s linear;
}

.entry-title {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -.45px;
    line-height: 1.25;
    -ms-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: none;
    white-space: normal;

}

/* -------------------------------------------------------------------------------- */
/*	3.	Header
/* -------------------------------------------------------------------------------- */


.site-header {
    background: #121212;
    color: #fff;
    margin: 0 auto 0 auto;
    padding: 80px 50px 144px 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 380px;
    z-index: 99999;
}

.site-header a {
    color: #fff;
}

.site-title,
.site-description {
    line-height: 1.25;
}

.site-title a {
    border-bottom: 1px solid transparent;
}

.site-title a:hover {
    border-bottom-color: #fff;
    text-decoration: none;
}

.dark .site-title a:hover {
    border-bottom-color: rgba( 0, 0, 0, .9 );
}

.site-description {
    color: rgba( 255, 255, 255, .6 );
    margin-top: 8px;
}

.dark .site-description {
    color: rgba( 0, 0, 0, .4 );
}

.nav-toggle {
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: 7.5%;
    top: calc( 50% - 15px );
    width: 50px;
}

.nav-toggle:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: -20px;
    right: 0;
    top: -20px;
}

.nav-toggle .bar {
    background: #fff;
    display: block;
    height: 1px;
    margin-top: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate( 0deg );
    transition: transform .2s ease-in 0s, margin 0.2s ease-out 0.2s;
    width: 28px;
    z-index: 1;
}

.dark .nav-toggle .bar {
    background: rgba( 0, 0, 0, .9 );
}

.nav-toggle .bar:nth-child(1) { margin-top: -5px; }
.nav-toggle .bar:nth-child(2) { margin-top: 3px; }

.nav-toggle.active .bar {
    transition: margin 0.2s ease-in, transform 0.2s ease-out 0.25s;
}

.nav-toggle.active .bar:nth-child(1) {
    margin-top: -1px;
    transform: rotate( 45deg );
}

.nav-toggle.active .bar:nth-child(2) {
    margin-top: -1px;
    transform: rotate( -45deg );
}


/* -------------------------------------------------------------------------------- */
/*	X.	Site Navigation
/* -------------------------------------------------------------------------------- */


.mobile-menu-wrapper,
.mobile-search {
    display: none;
    -webkit-transform: translateZ( 0 );
    -moz-transform: translateZ( 0 );
    -ms-transform: translateZ( 0 );
    transform: translateZ( 0 );
}

/* Main Menu ----------------------------- */

.menu-wrapper {
    height: 100%;
    margin-top: 60px;
    overflow: hidden;
    padding-bottom: 144px;
    width: 100%;
}

.main-menu {
    height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: auto;
    width: 100%;
}

.main-menu a {
    border-bottom: 1px solid transparent;
}

.main-menu li {
    line-height: 1.25;
    margin-bottom: 12px;
}

.main-menu .current-menu-item > a,
.main-menu a:hover {
    border-bottom-color: #fff;
    text-decoration: none;
}

.dark .main-menu .current-menu-item > a,
.dark .main-menu a:hover {
    border-bottom-color: rgba( 0, 0, 0, .9 );
}

.main-menu ul {
    margin: 12px 0 0 25px;
}


/* Social Menu ----------------------------- */

.social-menu.desktop {
    background: #121212;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-menu-inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -10px 0 0 -20px;
    padding: 0;
}

.social-menu li {
    display: block;
    margin: 10px 0 0 20px;
    position: relative;
}

.bmac-img {
    content: url('/assets/icons/bmc-logo-white.png');
}

.bmac-img:hover {
    content: url('/assets/icons/bmc-logo-black.png');
}

.social-menu a {
   border-radius: 50%;
    color: #fff;
    display: block;
    height: 33px;
    position: relative;
    text-decoration: none;
    transition: background-color .2s linear, color .2s linear;
    width: 33px;
}

.social-menu a:hover,
.social-menu a.active {
    background: #fff;
    color: #121212;
    text-decoration: none;
}

.social-menu a:before {
    display: inline-block;
    font-size: 19px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc( 50% - 1px );
    transition: transform .3s ease-out;
    text-align: center;
    z-index: 2;
}


.no-js .social-menu a[href*="#search"] { display: none; }


/* About Page Social Links ----------------------------- */

.about-social-menu.desktop {
    padding: 50px 50px 50px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.about-social-menu-inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -10px 0 0 -20px;
    padding: 0;
}

.about-social-menu li {
    display: block;
    margin: 10px 0 0 20px;
    position: relative;
}

.about-social-menu a {
    border-radius: 50%;
    color: #000000;
    display: block;
    height: 33px;
    position: relative;
    text-decoration: none;
    transition: background-color .2s linear, color .2s linear;
    width: 33px;
}

.about-social-menu a:hover,
.about-social-menu a.active {
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

.about-social-menu a:before {
    display: inline-block;
    font-size: 19px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc( 50% - 1px );
    transition: transform .3s ease-out;
    text-align: center;
    z-index: 2;
}


/* -------------------------------------------------------------------------------- */
/*	4.	Archive
/* -------------------------------------------------------------------------------- */

.page-subtitle {
    color: rgba( 0, 0, 4, 0.4 );
    margin-bottom: 10px;
}

.page-title {
    font-size: 24px;
    margin-bottom: 24px;
    hanging-punctuation: first;
    line-height: 1.45;
}


/* Post Wrappers ----------------------------- */

.posts-by-category {
    margin-bottom: 100px;
}
.post-list:first-child {
    margin-top: 80px;
}

.post-list > ul + ul {
    margin-top: 70px;
}

.post-list .list-title {
    margin-bottom: 17px;
}

.post-list .list-title a {
    color: rgba( 0, 0, 4, 0.4 );
}

.post-list .list-title a:hover {
    color: #121212;
    text-decoration: none;
}

/* Archive ----------------------------------- */

.posts-by-year {
    margin-bottom: 50px;
}

/* Post Previews ----------------------------- */

.post-preview {
    border-top: 1px solid rgba( 0, 0, 4, .125 );
    position: relative;
}

.post-preview a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 17px 0;
}

.post-preview.no-title a {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.post-preview a:hover {
    text-decoration: none;
}

.sticky .sticky-arrow {
    background-size: auto 12px;
    border-radius: 50%;
    display: inline;
    height: 12px;
    position: absolute;
    right: calc( 100% + 7px );
    top: calc( 50% - 6px );
    width: 20px;
}

.post-preview a .title {
    line-height: 1.25;
    -ms-word-break: break-word;
    word-break: break-word;
}

.post-preview a .title span {
    border-bottom: 1px solid transparent;
    transition: border-color .2s linear;
}

.post-preview a:hover .title span {
    border-bottom-color: #121212;
}

.post-preview time {
    color: rgba( 0, 0, 4, 0.4 );
    line-height: 1.25;
    margin-left: 30px;
    white-space: nowrap;
}


/* -------------------------------------------------------------------------------- */
/*	5.	Singular
/* -------------------------------------------------------------------------------- */


/* Entry Header ----------------------------- */

.entry-header {
    margin: 80px auto 60px;
}

.entry-header .meta {
    margin: 10px 0;
}


/* Meta ----------------------------- */

.meta {
    color: rgba( 0, 0, 4, 0.4 );
    margin-top: 25px;
}

.meta > * + * {
    margin-left: 23px;
}

.meta a {
    border-bottom: 1px solid transparent;
    color: inherit;
}

.meta a:hover {
    border-bottom-color: rgba( 0, 0, 4, 0.4 );
    text-decoration: none;
}


/* Page Image ----------------------------- */

.featured-image {
    max-height: 600px;
    overflow: hidden;
}

.featured-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 600px;
}

/* Meta Bottom ----------------------------- */

.meta.bottom {
    margin-top: 40px;
}

.meta.bottom p {
    line-height: 1.5;
}

.meta.bottom p.tags a {
    margin-right: 15px;
}

.meta.bottom p.tags a:last-child {
    margin-right: 0;
}


/* Single Pagination ----------------------------- */

.post-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
}

.post-pagination div {
    width: calc( 50% - 15px );
}

.post-pagination div + div {
    margin-left: 30px;
    text-align: right;
}

.post-pagination a {
    display: block;
    font-weight: 600;
    position: relative;
    -ms-word-break: break-word;
    word-break: break-word;
}

.post-pagination a:before {
    background: no-repeat center;
    background-size: contain;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    top: 4px;
    width: 15px;
}

.post-pagination .previous-post a:before {
    left: 0;
}

.post-pagination .next-post a:before {
    right: 0;
}

.post-pagination a:hover {
    text-decoration: none;
}

.post-pagination a span {
    border-bottom: 1px solid transparent;
    transition: border-color .15s linear;
}

.post-pagination a:hover span {
    border-bottom-color: #121212;
}

/* -------------------------------------------------------------------------------- */
/*	6.	Entry Content
/* -------------------------------------------------------------------------------- */


.entry-content {
    position: relative;
    -ms-word-break: break-word;
    hyphens: none;
    margin-bottom: 100px;
}

.entry-content a { border-bottom: 1px solid rgba( 0, 0, 0, 1 ); }
.entry-content a:hover {
    border-bottom-color: rgba( 0, 0, 0, .4 );
    color: rgba( 0, 0, 0, .4 );
    text-decoration: none;
}

em {
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid rgba( 0, 0, 0, 0.13 );
    margin: 50px auto;
    width: 50%;
}

hr.is-style-wide,
hr.is-style-dots {
    width: 100%;
}

address {
    background: #f1f1f5;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 20px 22px;
}

.entry-content > *:first-child {
    margin-top: 0;
}

.entry-content > *:last-child {
    margin-bottom: 0;
}

.entry-content p {
    line-height: 1.6;
    margin-bottom: 25px;
}

.entry-content p.has-background {
    padding: 20px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 60px 0 30px;
}

.entry-content h1 + h1, .entry-content h1 + h2, .entry-content h1 + h3, .entry-content h1 + h4, .entry-content h1 + h5, .entry-content h1 + h6,
.entry-content h2 + h1, .entry-content h2 + h2, .entry-content h2 + h3, .entry-content h2 + h4, .entry-content h2 + h5, .entry-content h2 + h6,
.entry-content h3 + h1, .entry-content h3 + h2, .entry-content h3 + h3, .entry-content h3 + h4, .entry-content h3 + h5, .entry-content h3 + h6,
.entry-content h4 + h1, .entry-content h4 + h2, .entry-content h4 + h3, .entry-content h4 + h4, .entry-content h4 + h5, .entry-content h4 + h6,
.entry-content h5 + h1, .entry-content h5 + h2, .entry-content h5 + h3, .entry-content h5 + h4, .entry-content h5 + h5, .entry-content h5 + h6,
.entry-content h6 + h1, .entry-content h6 + h2, .entry-content h6 + h3, .entry-content h6 + h4, .entry-content h6 + h5, .entry-content h6 + h6 {
    margin-top: 30px;
}

.entry-content h1 { font-size: 40px; }
.entry-content h2 { font-size: 32px; }
.entry-content h3 { font-size: 28px; }
.entry-content h4 { font-size: 24px; }
.entry-content h5 { font-size: 20px; }
.entry-content h6 { font-size: 18px; }

.entry-content > ol,
.entry-content > ul {
    margin-bottom: 30px;
}

.entry-content ol,
.entry-content ul {
    margin-left: 40px;
}

.entry-content ul { list-style: disc; }
.entry-content ul ul { list-style: circle; }
.entry-content ul ul ul { list-style: square; }

.entry-content ol { list-style: decimal; }
.entry-content ol ol { list-style: lower-alpha; }
.entry-content ol ol ol { list-style: lower-roman; }

.entry-content li {
    line-height: 1.5;
    margin-top: 15px;
}

dd,
dt {
    line-height: 1.5;
}

dt {
    font-weight: 700;
}

dd + dt {
    margin-top: 15px;
}

code, pre {
    font-family: 'jetbrains_mono', 'Liberation Mono', monospace;
}

p > code {
    background: #f1f1f4;
    border: solid 1px #e4e4e4;
    border-radius: 1px;
    padding: 1px 2px;
    hyphens: none;
    word-wrap: break-word;
}

pre > code {
    line-height: 1.5;
    font-size: 80%;
}

p.has-drop-cap:not(:focus):first-letter {
    font-size: 7.5em;
    margin: .1em .05em 0 -.075em;
}


/* Page Media ------------------------------ */

.gallery-caption,
.wp-caption-text,
.entry-content figcaption {
    font-size: 0.9em;
    margin: 15px 0 0;
}

.entry-content .gallery-caption,
.entry-content .wp-caption-text {
    margin-bottom: 0;
}

.entry-content .alignnone,
.entry-content .aligncenter,
.entry-content .alignwide,
.entry-content .alignfull {
    margin: 2.5em auto;
}

.entry-content .alignfull {
    margin-left: calc( 50% - 50vw + 190px );
    max-width: calc( 100vw - 380px );
    width: calc( 100vw - 380px );
}

.entry-content .wp-block-image.alignfull figcaption {
    padding: 0 5%;
}

.entry-content .alignwide {
    margin-left: calc( 50% - 430px );
    max-width: 860px;
    width: 860px;
}

.alignleft,
.alignright {
    margin-bottom: 20px;
    max-width: 40%;
}

.alignleft {
    float: left;
    margin: 5px 40px 30px -80px;
}

.alignright {
    float: right;
    margin: 5px -80px 30px 40px;
}

.alignnone {
    margin-left: -80px;
    margin-right: -80px;
    max-width: calc( 100% + 160px );
}

.alignnone img {
    width: 100%;
}


/* Inputs ----------------------------- */

fieldset {
    border: 1px solid rgba( 0, 0, 0, .2 );
    padding: 25px;
}

fieldset legend {
    font-size: 16px;
    font-weight: 600;
    margin-left: -15px;
    padding: 0 15px;
}

label {
    margin-bottom: 10px;
}

textarea,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"] {
    background: transparent;
    border-radius: 0;
    border: 1px solid rgba( 0, 0, 0, 0.2 );
    box-shadow: none !important;
    color: #121212;
    display: block;
    font-size: 1em;
    margin: 0 0 15px 0;
    padding: 15px;
    transition: border-color .15s linear;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
}

textarea {
    line-height: 1.4;
    height: 200px;
}

textarea:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus {
    outline: none;
}

button,
.button,
input[type="button"],
input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #121212;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 24px 16px;
    text-align: center;
    transition: background-color .15s linear;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background: #454545;
    cursor: pointer;
}


/* Tables ----------------------------- */

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    margin-bottom: 30px;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

th,
td {
    line-height: 1.4;
    margin: 0;
    overflow: visible;
    padding: 2.5%;
}

caption {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 2.5%;
    text-align: center;
    text-transform: uppercase;
}

thead {
    vertical-align: bottom;
    white-space: nowrap;
}

th {
    font-weight: 600;
}

tbody > tr:nth-child(odd) {
    background: rgba( 0, 0, 4, 0.05 );
}


/* Block: Quote --------------------------------------- */

/* Quotes ----------------------------- */

blockquote {
    font-family: 'Arial', sans-serif;
    margin: 30px 5%;
}

.entry-content blockquote p:last-child {
    font-size: 85%;
    font-style: italic;
    text-align: right;
    background-color: var(--background-main-color);
    padding: 0;
}

.entry-content blockquote p:first-child {
    font-size: 95%;
    background-color: var(--blockquote-background-color);
    padding: 20px;
    font-style: normal;
    text-align: left;
}
.entry-content blockquote p {
    font-size: 95%;
    background-color: var(--blockquote-background-color);
    padding: 0 20px 20px 20px;
    margin-bottom: 0;
}

.entry-content blockquote p:nth-last-child(2) {
    margin-bottom: 0;
}

/* -------------------------------------------------------------------------------- */
/*	X.	Search
/* -------------------------------------------------------------------------------- */


.error404 .search-form {
    margin-top: 42px;
}

.search-field {
    background-size: 26px auto;
    border: none;
    border-bottom: 1px solid #121212;
    border-radius: 0;
    box-shadow: none;
    color: #121212;
    font-size: 1em;
    margin: 0;
    outline: none;
    padding: 18px 0 18px 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input.search-field::-webkit-input-placeholder { color: #121212; }
input.search-field:-ms-input-placeholder { color: #121212; }
input.search-field::-moz-placeholder { color: #121212; }


/* Search Overlay ----------------------------- */


.search-overlay {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: -99999px;
    right: 99999px;
    top: 0;
    transition: opacity .2s linear, left 0s .2s, right 0s .2s;
    z-index: 100001;
}

.search-overlay.active {
    opacity: 1;
    left: 380px;
    right: 0;
    transition: opacity .2s linear;
}

.search-overlay .search-field {
    background-size: 44px auto;
    border-bottom: none;
    font-size: 32px;
    padding: 24px 0 24px 69px;
    width: 450px;
}


/* -------------------------------------------------------------------------------- */
/*	10.	Footer
/* -------------------------------------------------------------------------------- */


.site-footer {
    border-top: 1px solid rgba( 0, 0, 4, 0.125 );
    display: -webkit-box;
    display: block;
    font-size: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
    max-width: 800px;
    padding: 25px 0 10px;
    text-align: center;
    color: #454545;
}

.site-footer p {
    line-height: 1;
    text-align: left;
    padding: 5px 0;
}

.site-footer a {
    border-bottom: 1px solid transparent;
}

.site-footer a:hover {
    text-decoration: none;
}

.site-footer .copyright a:hover {
    border-bottom-color: #121212;
}


/* -------------------------------------------------------------------------------- */
/*	11.	Media Queries
/* -------------------------------------------------------------------------------- */


@media ( max-width: 1240px ) {


    /* Entry Content ----------------------------- */

    .entry-content .alignwide {
        margin-left: calc( 50% - 50vw + 190px );
        max-width: calc( 100vw - 380px );
        width: calc( 100vw - 380px );
    }


}


@media ( max-width: 1200px ) {


    /* Entry Content ----------------------------- */

    .alignnone {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    /* PULL QUOTES */

    .alignleft,
    .entry-content .pull.left {
        margin-left: 0;
    }

    .alignright,
    .entry-content .pull.right {
        margin-right: 0;
    }


}


/* 1050PX */

@media ( max-width: 1050px ) {


    /* Structure ----------------------------- */

    body {
        padding-left: 320px;
    }

    .site-header {
        padding: 80px 40px;
        width: 320px;
    }


    /* Entry Content ----------------------------- */

    .gallery {
        left: calc( 50% - 50vw + 190px );
        width: calc( 100vw - 380px );
    }

    .entry-content .alignfull,
    .entry-content .alignwide {
        margin-left: calc( 50% - 50vw + 160px );
        max-width: calc( 100vw - 320px );
        width: calc( 100vw - 320px );
    }

    /* Search ----------------------------- */

    .search-overlay.active {
        left: 320px;
    }


}


/* 1000 PX */

@media ( max-width: 1000px ) {


    /* Structure ----------------------------- */

    body {
        padding-left: 0;
    }


    /* Site Header ----------------------------- */

    .site-header {
        padding: 30px calc( 7.5% + 50px ) 30px 7.5%;
        position: relative;
        bottom: auto;
        left: auto;
        top: auto;
        width: 100%;
        z-index: 10001;
    }

    .same-custom-bgs .site-header,
    .white-bg .site-header {
        border: none;
        border-bottom: 1px solid rgba( 0, 0, 4, 0.075 );
        transition: border-color .3s linear;
    }

    body.mobile-menu-visible .same-custom-bgs .site-header,
    body.mobile-menu-visible.white-bg .site-header {
        border-color: transparent;
    }

    .menu-wrapper,
    .site-header .social-menu,
    .search-overlay {
        display: none !important;
    }

    .nav-toggle {
        display: block;
    }


    /* Navigation ----------------------------- */

    .mobile-menu-wrapper {
        background: #121212;
        color: #fff;
        overflow: auto;
        padding: 112px 7.5% 0 7.5%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10000;
    }

    .mobile-menu-wrapper a {
        color: inherit;
    }

    .main-menu {
        margin-top: 60px;
    }

    .main-menu {
        opacity: 0;
        padding-bottom: 124px;
        transition: opacity .4s linear;
    }

    .main-menu .toggle-mobile-search-wrapper {
        position: relative;
    }

    .main-menu .toggle-mobile-search:before {
        background-size: 22px auto;
        content: "";
        display: block;
        height: 22px;
        position: absolute;
        left: 0;
        top: calc( 50% - 11px );
        width: 33px;
    }

    .mobile-menu-wrapper.visible .main-menu {
        opacity: 1;
    }

    .mobile-menu-wrapper .social-menu {
        background: #121212;
        padding: 40px 7.5% 40px 7.5%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mobile-results {
        margin: 40px auto 0 auto;
        min-height: 40px;
        max-width: 100%;
        position: relative;
        width: 400px;
    }

    .mobile-results .no-results-message {
        font-size: 16px;
        line-height: 1.35;
    }

    .mobile-results p {
        color: rgba( 255, 255, 255, 0.5 );
        font-size: 13px;
        margin: 0;
    }

    .mobile-results li {
        border-bottom: 1px solid rgba( 255, 255, 255, 0.15 );
        -ms-word-break: break-word;
        word-break: break-word;
    }

    .mobile-results li a {
        color: #fff;
        display: block;
        font-size: 16px;
        line-height: 1.25;
        padding: 15px 0;
    }

    .mobile-results .show-all {
        color: rgba( 255, 255, 255, 0.5 );
        display: block;
        font-size: 13px;
        margin-top: 15px;
        text-align: right;
    }
    /* NO RESULTS */

    .mobile-results.no-results {
        display: block;
    }

    /* Mobile Search ----------------------------- */

    .mobile-search {
        display: block;
        overflow: auto;
        padding-bottom: 40px;
        position: absolute;
        bottom: 0;
        left: -9999px;
        right: 9999px;
        top: 122px;
        z-index: 10001;
    }

    .mobile-search.active {
        animation: show .3s ease-out 1;
        animation-fill-mode: both;
        background: #121212;
        left: 0;
        right: 0;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .mobile-menu-wrapper.visible + .mobile-search {
        transition: all 0s .3s;
    }

    .mobile-menu-wrapper.visible + .mobile-search.active {
        transition: none;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mobile-search.hide {
        animation: hide .3s ease-in 1;
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    .untoggle-mobile-search {
        height: 20px;
        margin-bottom: 10px;
        width: 100%;
    }

    .untoggle-mobile-search:before,
    .untoggle-mobile-search:after {
        background: #fff;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 7px;
        width: 12px;
    }

    .untoggle-mobile-search:before {
        left: calc( 50% - 1.5px );
        transform-origin: top right;
        transform: rotate(30deg);
    }

    .untoggle-mobile-search:after {
        right: calc( 50% - 1.5px );
        transform-origin: top left;
        transform: rotate(-30deg);
    }

    .mobile-search.active .untoggle-mobile-search:before {
        animation: foldOutLeft .2s .3s linear 1;
        animation-fill-mode: both;
    }

    .mobile-search.active .untoggle-mobile-search:after {
        animation: foldOutRight .2s .3s linear 1;
        animation-fill-mode: both;
    }

    @keyframes foldOutLeft {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(30deg);
        }
    }

    @keyframes foldOutRight {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(-30deg);
        }
    }

    .mobile-search.active .untoggle-mobile-search:after {
        transform: rotate(-30deg);
    }

    .mobile-search form {
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        width: 400px;
    }

    .mobile-search .search-field {
        background-size: 22px auto;
        border-bottom-color: #fff;
        color: #fff;
        padding-left: 33px;
        width: 100%;
    }

    input.search-field::-webkit-input-placeholder { color: rgba( 255, 255, 255, 0.6 ); }
    input.search-field:-ms-input-placeholder { color: rgba( 255, 255, 255, 0.6 ); }
    input.search-field::-moz-placeholder { color: rgba( 255, 255, 255, 0.6 ); }

    /* Entry Content ----------------------------- */

    .entry-content .alignfull {
        margin-left: calc( 50% - 50vw );
        max-width: 100vw;
        width: 100vw;
    }

    .entry-content .alignwide {
        margin-left: calc( 50% - 45vw );
        max-width: 90vw;
        width: 90vw;
    }

    .alignnone {
        margin-left: -80px;
        margin-right: -80px;
        max-width: calc( 100% + 160px );
    }

    .alignleft,
    .entry-content .pull.left {
        margin-left: -80px;
    }

    .alignright,
    .entry-content .pull.right {
        margin-right: -80px;
    }

    .gallery {
        left: calc( 50% - 50vw + 10px );
        width: calc( 100vw - 20px );
    }


}


/* 800 PX */

@media ( max-width: 800px ) {

    /* Singular ----------------------------- */

    .comments,
    .comment-respond,
    #respond,
    .related-posts {
        margin-top: 80px;
        max-width: 560px;
        padding: 25px 0 0 0;
    }

    .comment-reply-title,
    .related-posts-title {
        margin-bottom: 40px;
        position: static;
        width: 100%;
    }
}


/* 750 PX */


@media ( max-width: 750px ) {


    /* Navigation ----------------------------- */

    .site-nav .menus > ul {
        float: none;
        width: 100%;
    }

    .site-nav .menus > ul + ul {
        margin: 40px 0 0;
    }

    /* Entry Content ----------------------------- */

    /* PAGE MEDIA */

    .alignleft {
        margin: 5px 25px 25px 0;
    }

    .alignright {
        margin: 5px 0 25px 25px;
    }

    .alignnone {
        max-width: 100%;
    }

    .alignnone,
    .aligncenter {
        margin: 40px auto;
    }

    /* PULL QUOTES */

    .entry-content .pull.left {
        margin-left: 0;
    }

    .entry-content .pull.right {
        margin-right: 0;
    }
}


/* 620 PX */

@media ( max-width: 620px ) {


    /* Site Header ----------------------------- */

    .site-header {
        padding: 26px 7.5%;
    }

    .site-description {
        display: none;
    }


    /* Navigation ----------------------------- */

    .mobile-menu-wrapper {
        padding-top: 74px;
    }

    .site-nav {
        padding-top: 124px;
        padding-bottom: 40px;
    }

    .site-nav ul:first-child li {
        font-size: 30px;
    }

    .site-nav ul + ul li {
        font-size: 20px;
        font-weight: 400;
    }

    .site-nav ul + ul li + li {
        margin-top: 10px;
    }

    .site-nav footer {
        display: none;
    }


    /* Mobile Search ----------------------------- */


    .mobile-search {
        top: 74px;
    }


    /* Singular ----------------------------- */


    .entry-header {
        margin: 50px auto;
    }

    .post-pagination {
        margin-top: 50px;
    }

    .comments,
    .comment-respond,
    .related-posts {
        margin-top: 50px;
    }

    .entry-content p {
        margin-bottom: 25px;
    }

    .entry-content hr {
        margin: 30px auto;
    }

    /* PULL QUOTES */

    .entry-content .pull.left,
    .entry-content .pull.right {
        float: none;
        margin: 40px 0 40px 0;
        width: 100%;
    }

    /* Site Footer ----------------------------- */

    .site-footer {
        display: block;
        margin-top: 60px;
        padding: 25px 0;
    }
}


/* 500 PX */

@media ( max-width: 500px ) {


    /* Structure ----------------------------- */

    body {
        font-size: 18px;
    }

    .section-inner {
        width: 90%;
    }

    /* Navigation ----------------------------- */

    .main-menu {
        margin-top: 40px;
    }


    /* Singular ----------------------------- */

    .entry-header {
        margin: 40px auto;
    }

    .entry-title {
        font-size: 24px;
    }

    .entry-header .excerpt {
        margin-top: 10px;
    }

    .entry-header .meta {
        margin-top: 15px;
    }

    .meta.bottom {
        margin-top: 25px;
    }

    .post-pagination div {
        width: 100%;
    }

    .comments,
    .comment-respond,
    .related-posts {
        margin: 50px 0 0;
        padding: 15px 0 0 0;
    }

    .comment-reply-title,
    .related-posts-title {
        margin-bottom: 25px;
    }

    .related-post {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 15px 0;
        width: 100%;
    }

    .related-post-image {
        height: 80px;
        margin: 0 12px 0 0;
        min-width: 80px;
    }


    /* Entry Content ----------------------------- */

    .entry-content h1 { font-size: 28px; }
    .entry-content h2 { font-size: 26px; }
    .entry-content h3 { font-size: 24px; }
    .entry-content h4 { font-size: 20px; }
    .entry-content h5 { font-size: 18px; }


    /* Archive ----------------------------- */

    .page-header {
        padding: 50px 0;
    }

    .page-subtitle {
        font-size: 16px;
    }

    .page-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .post-list:first-child {
        margin-top: 50px;
    }

    .post-list > ul + ul {
        margin-top: 50px;
    }

    .sticky .sticky-arrow {
        display: inline-block;
        margin-right: 2px;
        position: static;
    }
}

/* 400 PX */

@media ( max-width: 400px ) {


    /* Entry Content ----------------------------- */

    .entry-content p {
        margin-bottom: 20px;
    }

    .entry-content ol,
    .entry-content ul {
        margin-left: 30px;
    }

    .entry-content li {
        margin-top: 12px;
    }

    .entry-content blockquote {
        margin-bottom: 20px;
    }

    .entry-content h1,
    .entry-content h2,
    .entry-content h3,
    .entry-content h4,
    .entry-content h5,
    .entry-content h6 {
        margin: 40px 0 20px;
    }
}

@media ( max-width: 1000px ) and ( orientation: landscape ) {


    /* Site Header ----------------------------- */

    .mobile-menu-wrapper {
        padding-bottom: 40px;
    }

    .mobile-menu-wrapper .main-menu {
        margin-top: 20px;
        padding-bottom: 0;
        padding-right: 50%;
    }

    .mobile-menu-wrapper .social-menu {
        left: auto;
        max-width: 50%;
        padding: 40px 7.5% 40px 0;
    }
}