<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="posts" type="kotlin.collections.List<com.flow2.model.Post>"*/-->
<head>
    <meta charset="UTF-8">
    <title>Blog Post Management</title>
</head>
<body>
    <h1>Manage Blog Post</h1>

    <label for="postSelect">Select Post:</label>
    <select id="postSelect" name="postId" onblur="updatePostId()">
        <option  th:each="post: ${posts}"
                 th:attr="selected=${postStat.first}"
                 th:value="${post.id}"
                 th:text="${post.title}">
            Post title
        </option>
    </select>

    <form action="/admin/post/banner" method="post" enctype="multipart/form-data">
        <input type="hidden" id="postIdBanner" name="postId">
        <label for="bannerImage">Upload Main Banner Image:</label>
        <input type="file" id="bannerImage" name="bannerImage" accept="image/*">
        <button type="submit">Upload Banner</button>
    </form>

    <form action="/admin/post/media" method="post" enctype="multipart/form-data">
        <input type="hidden" id="postIdMedia" name="postId">
        <label for="mediaImages">Upload Media Images:</label>
        <input type="file" id="mediaImages" name="mediaImages" accept="image/*" multiple>
        <button type="submit">Upload Media</button>
    </form>
</body>
<script>
    function updatePostId() {
        const postId = document.getElementById("postSelect").value;
        document.getElementById("postIdBanner").value = postId;
        document.getElementById("postIdMedia").value = postId;
    }
    updatePostId();
</script>
</html>