<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="posts" type="kotlin.collections.List<com.flow2.model.Post>"*/-->
<!--/*@thymesVar id="categories" type="kotlin.collections.List<String>"*/-->
<head>
    <meta charset="UTF-8">
    <title>Blog Content Management</title>
    <link rel='stylesheet' href='/assets/css/admin.css' type='text/css' media='all' />
</head>
<body>
    <div>
        <h1>Upload Post Media</h1>
        <label for="postSelect">Select Post:</label>
        <select id="postSelect" name="postId" onblur="updatePostId()">
            <option  th:each="post: ${posts}"
                     th:attr="selected=${postStat.first}"
                     th:value="${post.id}"
                     th:text="${post.title}">
                Post title
            </option>
        </select>

        <div id="uploadBannerForm">
            <form id="uploadBanner" action="/admin/post/banner" method="post" enctype="multipart/form-data">
                <input type="hidden" id="postIdBanner" name="postId">
                <label for="bannerImage">Upload Main Banner Image:</label>
                <input type="file" id="bannerImage" name="bannerImage" accept="image/*">
                <button type="submit">Upload Banner</button>
            </form>
            <p class="resultMsg"></p>
        </div>
        <div id="uploadMediaForm">
            <form id="uploadMedia" action="/admin/post/media" method="post" enctype="multipart/form-data">
                <input type="hidden" id="postIdMedia" name="postId">
                <label for="mediaImages">Upload Media Images:</label>
                <input type="file" id="mediaImages" name="mediaImages" accept="image/*" multiple>
                <button type="submit">Upload Media</button>
            </form>
            <p class="resultMsg"></p>
        </div>
    </div>

    <hr/>

    <div id="newPostForm">
        <h1>Upload New Post</h1>
        <form id="newPost" action="/admin/post" method="post" enctype="multipart/form-data">
            <label for="mdFile">Select markdown file:</label>
            <input type="file" id="mdFile" name="mdFile" accept="*/*">
            <label for="title">Post title:</label>
            <input type="text" id="title" name="title">
            <label for="tags">Specify tags for post (comma separated):</label>
            <input type="text" id="tags" name="tags">
            <label for="category">Select Category:</label>
            <select id="category" name="category">
                <option  th:each="category: ${categories}"
                         th:value="${category}"
                         th:text="${category}">
                    Post title
                </option>
            </select>

            <button type="submit">Upload new post</button>
        </form>
        <p class="resultMsg"></p>
    </div>
</body>
<script>
    function updatePostId() {
        const postId = document.getElementById("postSelect").value;
        document.getElementById("postIdBanner").value = postId;
        document.getElementById("postIdMedia").value = postId;
    }

    updatePostId();

    document.getElementById('newPost').addEventListener('submit', submitForm);
    document.getElementById('uploadMedia').addEventListener('submit', submitForm);
    document.getElementById('uploadBanner').addEventListener('submit', submitForm);

    function submitForm(event) {
        event.preventDefault(); // Prevent the default form submission

        const form = event.target;
        const formData = new FormData(form);

        let resultElem = form.parentElement.querySelector('.resultMsg');

        fetch(form.action, {
            method: form.method,
            body: formData
        })
            .then(response => {
                console.log('Success:', response);
                resultElem.textContent = 'Success!';
                setTimeout(() => resultElem.textContent = '', 5000);
            })
            .catch(error => {
                console.error('Error:', error);
                resultElem.textContent = 'Error!';
                setTimeout(() => resultElem.textContent = '', 5000);
            });
    }
</script>
</html>