<!DOCTYPE html>

<html th:replace="~{layout :: layout(title=${'Home'}, content=~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="postsWithCategory" type="kotlin.collections.List<Pair<com.flow2.model.Category, kotlin.collections.List<com.flow2.model.Post>>>"*/-->
<!--/*@thymesVar id="#urls" type="com.flow2.request.web.RequestUrlBuilder"*/-->

<main class="site-content" id="site-content">

    <div class="section-inner">
        <h1 class="page-title">Recent Posts</h1>
        <div
                class="post-list posts-by-category"
                th:each="postCategoryPair: ${postsWithCategory}"
                th:with="category=${postCategoryPair.first}, posts=${postCategoryPair.second}"
                th:id="${category} + '-posts'"
        >
            <ul>
                <li><h2 class="page-subtitle" th:text="${category.displayName}"></h2></li>
                <li th:each="post: ${posts}" class="post-preview post type-post">
                    <a th:href="${#urls.getPostUrl(post)}">
                        <h4 class="title" th:text="${post.title}"></h4>
                    </a>
                </li>
            </ul>
            <a th:href="${#urls.getCategoryUrl(category)}"><h3>...</h3></a>
        </div>
    </div>
</main>