<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=${post.title}, content=~{::main}, extraHead=~{::head})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="post" type="com.flow2.model.Post"*/-->
<!--/*@thymesVar id="postContentHtml" type="String"*/-->
<!--/*@thymesVar id="bannerFilePath" type="String?"*/-->
<!--/*@thymesVar id="previousPost" type="String?"*/-->
<!--/*@thymesVar id="nextPost" type="String?"*/-->
<!--/*@thymesVar id="#urls" type="com.flow2.request.web.RequestUrlBuilder"*/-->

<head>
    <link rel="stylesheet" href="/assets/js/highlight/styles/obsidian.min.css">
    <script src="/assets/js/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script defer src="https://chirpy.dev/bootstrapper.js" data-chirpy-domain="flowtwo.io"></script>
    <script src=" https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/style.min.css " rel="stylesheet">
</head>

<main>
    <article class="post type-post status-publish format-standard">

        <div th:if="${bannerFilePath != null}" class="featured-image">
            <img width="5472" height="3648" th:src="${bannerFilePath}" class="attachment-mcluhan_fullscreen-image size-mcluhan_fullscreen-image wp-post-image" alt="" decoding="async" fetchpriority="high"/>
        </div>

        <header class="entry-header section-inner">


            <div class="meta">
                <p>In <span><a th:href="${#urls.getCategoryUrl(post.category)}" th:text="${post.category.displayName}">Category</a></span></p>
            </div>

            <h1 class="entry-title" th:text="${post.title}">Post title</h1>

            <div class="meta">
                <p><span th:text="${#temporals.format(post.getPublishDate(), 'MMMM d, yyyy')}">April 20, 2024</span></p>
            </div>
        </header>

        <div class="entry-content section-inner" th:utext="${postContentHtml}">Post content</div>


        <div class="meta bottom section-inner">
            <span th:each="tag: ${post.tags}" class="tags"><a th:href="${#urls.getTagUrl(tag)}" th:text="'#' + ${tag}" rel="tag">Tag name</a> </span>
        </div>


        <div class="post-pagination section-inner">

            <div th:if="${previousPost != null}" class="previous-post">
                <a th:href="${#urls.getPostUrl(previousPost)}" rel="prev"><span>Previous Post</span></a>
            </div>
            <div th:if="${nextPost != null}"class="next-post">
                <a th:href="${#urls.getPostUrl(nextPost)}" rel="next"><span>Next Post</span></a>
            </div>

        </div>

        <div class="section-inner">
            <div
                data-chirpy-theme="light"
                data-chirpy-comment="true"
                id="chirpy-comment"
            ></div>
        </div>

    </article>
    <script>
        mediumZoom('.entry-content img');
    </script>
</main>
