<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="post" type="com.flow2.model.Post"*/-->
<!--/*@thymesVar id="bannerFilePath" type="String"*/-->
<head>
    <title th:text="${post.title} + ' | flow2'">Page Title</title>

</head>

<main>
    <article class="post type-post status-publish format-standard">

        <div class="featured-image">
            <img width="5472" height="3648" th:src="${bannerFilePath}" class="attachment-mcluhan_fullscreen-image size-mcluhan_fullscreen-image wp-post-image" alt="" decoding="async" fetchpriority="high"/>
        </div>

        <header class="entry-header section-inner">


            <div class="meta">
                <p>In <span><a th:href="@{'~/category/'+${post.category.urlName}}" th:text="${post.category.displayName}">Category</a></span></p>
            </div>

            <h1 class="entry-title" th:text="${post.title}">Post title</h1>
        </header>

        <div class="entry-content section-inner" th:utext="${post.htmlContent}">Post content</div>


        <div class="meta bottom section-inner">
            <span th:each="tag: ${post.tags}" class="tags"><a th:href="@{'~/tag/'+${tag}}" th:text="'#' + ${tag}" rel="tag">Tag name</a> </span>
        </div>


        <div class="post-pagination section-inner">

            <div class="previous-post">
                <a href="/" rel="prev"><span>Previous Post</span></a>
            </div>
            <div class="next-post">
                <a href="/" rel="next"><span>Next Post</span></a>
            </div>

        </div>

    </article>
</main>
